<section class="py-5 bg-secondary">
  <div class="container py-3">
    <div class="row">
     <div class="col-md-4">
       <img src="./assets/images/logo.svg" style="height: 50px" alt="" srcset="">
     </div>
    </div>
  </div>
</section>