<section class="bg-primary-light py-4">
  <div class="container">
    <div class="row py-5">
      <div class="col-md-6 text-center">
        <h1>Want to See More?</h1>
        <h1 class="font-weight-bold">Subscribe to our newsletter</h1>
      </div>
      <div class="col-md-6 align-self-center">
        <div class="row">
          <div class="col-md-9">
            <input type="email" class="form-control form-control-lg" placeholder="name@example.com">
          </div>
          <div class="col-md-3">
            <a href="#" class="btn btn-white font-weight-bold btn-block btn-lg">Save</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>