
$white:      #ffffff;
$primary:    #898F65;
$primary-light:    #b11010;
$secondary:  #001E32;
$success:    #93D500;
$light:      #E6E7E8;
$dark:       #343a40;
$info:       #17a2b8;
$warning:    #ffc107;
$danger:     #dc3545;
$body-bg:      $light;

$theme-colors: (
  "primary":            $primary,
  "primary-light":      lighten($primary, 20),
  "secondary":          $secondary,
  "success":            $success,
  "info":               $info,
  "warning":            $warning,
  "danger":             $danger,
  "light":              $light,
  "dark":               $dark,
  "white":              $white
);

.btn-success {
  color: $white !important;
}