header.home {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;

  .content {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 40px;
    padding-right: 130px;
    background-color: $primary;
    clip-path: polygon(0 0, 84% 0, 100% 100%, 0% 100%);
    width: 50vw;
    color: $white;
    box-shadow: $box-shadow-lg;
    @include media-breakpoint-down(xl) { width: 70vw }
    @include media-breakpoint-down(md) {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      width: 80vw;
      padding: 50px 20px
    }
  }
  .skewed-bg {
    background-color: $secondary;
    height: 100vh;
    width: 500px;
    left: -250px;
    transform: skew(-17deg, 0deg);
    -webkit-transform: skew(-17deg, 0deg);
    position: absolute;
    &__line {
      background: $success;
      height: 100%;
      width: 8px;
      position: absolute;
      left: 230px;
      top: 0;
      -webkit-transform: skew(-17deg, 0deg);
      transform: skew(-17deg, 0deg);
    }
  }
}