.login {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image:url('http://bit.ly/2gPLxZ4');
  width: 100%;
  height: 100vh;
  font-family: Arial, Helvetica;
  letter-spacing: 0.02em;
    font-weight: 400;
  -webkit-font-smoothing: antialiased;


}
.blurred-box{
  position: relative;
  width: 300px;
  height: 450px;
  top: calc(50% - 225px);
  left: calc(50% - 150px);
  background: inherit;
  border-radius: 2px;
  overflow: hidden;
}

.blurred-box:after{
 content: '';
 width: 350px;
 height: 500px;
 background: inherit; 
 position: absolute;
 left: -25px;
 right: 0;
 top: -25px;  
 bottom: 0;
 box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
 filter: blur(20px);
}


/* Form which you dont need */
.user-login-box{
  position: relative;
  margin-top: 50px;
  text-align: center;
  z-index: 1;

  input {
    background: rgba(255,255,255,0.3) !important;
    margin-bottom: 20px;
    color: white !important
  }
}
.user-login-box > *{
  display: inline-block;
  width: 240px;
}

.user-name{
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
}
