@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

$font-family-sans-serif:  'Montserrat', 'Segoe UI', Arial, sans-serif;
$border-radius:               .6rem;
$border-radius-lg:            .15rem;
$border-radius-sm:            .15rem;
$input-btn-padding-x:         1.9rem;
$input-btn-padding-x-sm:      1.4rem;
$input-btn-padding-x-lg:      2.4rem;
$enable-shadows:              false;
$enable-negative-margins:     true;
$link-decoration:             none;
$dropdown-border-color:       none;
$dropdown-border-width:       none;
$font-size-base:              1rem;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}