<section class="blog py-5 bg-secondary">
  <div class="container py-3">
    <h1 class="text-success mb-5 text-center font-weight-bold">Blog</h1>
    <div class="row">
      @@for (var i = 0; i < 4; i++) { 
      <div class="col-md-6 mb-5 text-white">
        <a href="#">
          <div class="row align-items-center">
            <div class="col-md-6">
              <img src="./assets/images/header.jpg" alt="" class="img-fluid rounded">
            </div>
            <div class="col-md-6">
              <h5 class="text-white py-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam ipsam ?</h5>
            </div>
          </div>
        </a>
      </div>
    }
    </div>
  </div>
</section>