<header class="home">
  <div class="skewed-bg"></div>
  <div class="skewed-bg__line"></div>
    <div class="col-md-6 offset-1">

      <div class="content display-6 font-weight-bold">
        To be the nº1 choice for
        the management of literary
        publications for all medical
        endeavors.
      </div>
  </div>
</header>