<div class="card border-0 p-md-5 mb-3 p-4 text-center" style="margin-top: -100px">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="col-md-7 mx-auto">
          <h2 class="text-primary">Lorem Ipsum One Page</h2>
          <p class="lead my-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, voluptatem qui. Repellat praesentium
            dolor
          </p>
          <a href="#" class="btn btn-lg btn-success">Show Case</a>
        </div>            
      </div>
    @@for (var i = 0; i < 3; i++) {  
      <div class="carousel-item">
        <div class="col-md-7 mx-auto">
          <h2 class="text-primary">Lorem Ipsum One Page</h2>
          <p class="lead my-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, voluptatem qui. Repellat praesentium
            dolor
          </p>
          <a href="#" class="btn btn-lg btn-success">Show Case</a>
        </div>            
      </div>
    }
    </div>
  </div>
</div>
<div class="text-center mb-5">

<a class="text-primary h3 pr-4" href="#carouselExampleIndicators" role="button" data-slide="prev">
  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
  </svg>
</a>

@@for (var i = 0; i <= 4; i++) {
<span data-target="#carouselExampleIndicators" class="text-secondary mx-2" style="cursor: pointer" data-slide-to="`+i+`">
  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-diamond" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M8.361 1.17a.51.51 0 0 0-.722 0L4.766 4.044 8 7.278l3.234-3.234L8.361 1.17zm3.595 3.596L8.722 8l3.234 3.234 2.873-2.873c.2-.2.2-.523 0-.722l-2.873-2.873zm-.722 7.19L8 8.722l-3.234 3.234 2.873 2.873c.2.2.523.2.722 0l2.873-2.873zm-7.19-.722L7.278 8 4.044 4.766 1.17 7.639a.511.511 0 0 0 0 .722l2.874 2.873zM6.917.45a1.531 1.531 0 0 1 2.166 0l6.469 6.468a1.532 1.532 0 0 1 0 2.166l-6.47 6.469a1.532 1.532 0 0 1-2.165 0L.45 9.082a1.531 1.531 0 0 1 0-2.165L6.917.45z"/>
  </svg>
</span>
}
<a class="text-primary h3 pl-4" href="#carouselExampleIndicators" role="button" data-slide="next">
  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
  </svg>
</a>
</div>