<div class="row m-0 p-0">
  <div class="col-md-8">
    <div class="col-md-9 mx-auto">
      @@include('carousel.html')
      <h1 class="text-primary font-weight-bold text-center mb-5">Advantages</h1>
      <div class="row">
        <div class="col-md-6">
          <div class="card border-0 p-md-5 mb-5 p-4 text-center">
            <img src="./assets/images/image.svg" class="d-block mx-auto" width="50px" alt="">
            <h2 class="my-4 text-secondary">Features One</h2>
            <p class="lead">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos quos quia totam repellat reiciendis
              ea.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card border-0 p-md-5 mb-5 p-4 text-center">
            <img src="./assets/images/image.svg" class="d-block mx-auto" width="50px" alt="">
            <h2 class="my-4 text-secondary">Features One</h2>
            <p class="lead">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos quos quia totam repellat reiciendis
              ea.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 news py-5 text-white pl-md-3 px-4 pr-md-5 bg-secondary">
    <h1 class="text-white font-weight-bold pl-md-3 mb-5">NEWS</h1>
    <ul>
      @@for (var i = 0; i < 5; i++) { 
        <li><a href="#" class="text-light" target="_blank">
          Lorem ipsum dolor sit amet, g elit. Porro, labore. Fuga suscipit earum ipsam impedit, numquam deserunt.
        </a></li>
        }
    </ul>
  </div>
</div>